<div class="mb-4">
	<h3>Sign In</h3>
	<p class="mb-4">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.username }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}
	</p>
</div>
<form action="#" method="post">

	<div class="form-group first">
		<label for="inputEmail">Email</label>
		<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
	</div>
	<div class="form-group last mb-4">
		<label for="inputPassword">Password</label>
		<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
	</div>
	<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
	<div class="d-flex mb-5 align-items-center">
		<label for="remember_me" class="control control--checkbox mb-0">
			<span class="caption">Remember me</span>
			<input type="checkbox" id="remember_me" name="_remember_me" checked/>
			<div class="control__indicator"></div>
		</label>
	</div>

	<input type="submit" value="Log In" class="btn btn-block btn-primary">
</form>
