<!-- Modal -->

{{ form_start(form) }}
<div class="modal-body">

	<div class="row">
		<div class="col-sm-8">
			{{ form_row(form.title) }}
		</div>
		<div class="col-sm-4">
			{{ form_row(form.type) }}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			{{ form_row(form.startTime) }}
		</div>
		<div class="col-sm-6">
			{{ form_row(form.endTime) }}
		</div>
	</div>
	<div class="row">
		<div class="col">
			{{ form_row(form.backgroundColor) }}
		</div>
		<div class="col">
			{{ form_row(form.borderColor) }}
		</div>
		<div class="col">
			{{ form_row(form.textColor) }}
		</div>
	</div>
	<div class="row">
		<div
			class="col">
			{# #}
			Client
			<div class="input-group" {{ stimulus_controller({ 'autocomplete': { skipHiddenProperty: true,url: path('schedule', { preview: 1 } ) }, 'autocomplete-transition' : {} }) }} {# data-action="toggle->autocomplete-transition#toggle" 'data-action':"blur->autocomplete-transition#toggle"#}>
				{{ form_widget(form.client, 
			 	{'attr': {
					 'data-autocomplete-target': "input",
					 'data-autocomplete-transition-target':"pickedEmail",
					 
					 }
				} ) }}
				{# <input name="q" value="{{ searchTerm }}" 
								       placeholder="Search client..." 
									   type="search" 
									   class="form-control" 
									   data-autocomplete-target="input"
									   data-autocomplete-transition-target="pickedEmail"
									   > #}
				<br>

				<ul id="listClt" class="list-group" class="search-preview" data-autocomplete-transition-target="results" data-autocomplete-target="results"></ul>
			</div>

		</div>
		
	</div>
	<br>
	<div class="row">
		<div class="col">
			{{ form_row(form.address.street) }}
		</div>
		<div class="col">
			{{ form_row(form.address.zip) }}
		</div>
		<div class="col">
			{{ form_row(form.address.city) }}
		</div>
	</div>
	<br>
	<div class="row">
		<div class="form-check form-switch">
			{{ form_widget(form.allDay) }}
			<label class="form-check-label" for="{{ form.allDay.vars.id }}"></label>
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			{{ form_row(form.comment, { 'attr': { 'style' : 'width:100%', 'rows' : '4', 'cols' : '300' }} ) }}
		</div>
	</div>

</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	<button type="submit" class="btn btn-primary">Save changes</button>
</div>
{{ form_end(form) }}
