{% extends 'dashboard.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block content %}
    {% set today =  'now' | date('d/m/Y')  %}
    <div class="grey-bg container-fluid">
        <section id="minimal-statistics">
            <div class="row">
                <div class="col-12 mt-3 mb-1">
                    <h4 class="text-uppercase">Minimal Statistics</h4>
                    <p></p>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-left">
                                        <h3 class="primary">{{ nbVisits }} %</h3>
                                        <span>Daily new Visits </span>
                                    </div>
                                    <div class="align-self-center">
                                        <i class="fs-1 bi bi-bookmark-star"></i>
                                    </div>
                                </div>
                                <div class="progress mt-1 mb-0" style="height: 7px;">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: {{ nbVisits }}%" aria-valuenow="{{ nbVisits }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-left">
                                        <h3 class="warning">{{ totalClients }}</h3>
                                        <span> Clients </span>
                                    </div>
                                    <div class="align-self-center">
                                        <i class="fs-1 i bi-person-lines-fill"></i>
                                    </div>
                                </div>
                                <div class="progress mt-1 mb-0" style="height: 7px;">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: {{ totalClients }}%" aria-valuenow="{{ totalClients }}" aria-valuemin="0" aria-valuemax="10000"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-left">
                                        <h3 class="success">{{ nbDoneVisits }}</h3>
                                        <span>Completed visits </span>
                                    </div>
                                    <div class="align-self-center">
                                        <i class="fs-1 bi success bi-check-lg"></i>
                                    </div>
                                </div>
                                <div class="progress mt-1 mb-0" style="height: 7px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ nbDoneVisits }}%" aria-valuenow="{{ nbDoneVisits }}" aria-valuemin="0" aria-valuemax="100sss0"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-left">
                                        <h3 class="danger">{{ totalVisits }}</h3>
                                        <span>Total Visits</span>
                                    </div>
                                    <div class="align-self-center">
                                        <i class="fs-1 bi bi-clipboard-data"></i>
                                    </div>
                                </div>
                                <div class="progress mt-1 mb-0" style="height: 7px;">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ totalVisits }}%" aria-valuenow="{{ totalVisits }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="stats-subtitle">
            <div class="row">
                <div class="col-12 mt-3 mb-1">
                    <h4 class="text-uppercase">General Statistics</h4>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-md-12">
                    <div class="card overflow-hidden">
                        <div class="card-content">
                            <div class="card-body cleartfix">
                                <div class="media align-items-stretch">
                                    <div class="align-self-center">
                                        <i class="icon-pencil primary font-large-2 mr-2"></i>
                                    </div>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <div class="media-body">
                                            <h4>Total Visits</h4>
                                            <span>Amount of Visits per day this week</span>
                                        </div>
                                        <div class="align-self-center">
                                            
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body cleartfix">
                                <div class="media align-items-stretch">
                                    <div class="align-self-center">
                                        <i class="icon-speech warning font-large-2 mr-2"></i>
                                    </div>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <div class="media-body">
                                            <h4>Total Visits</h4>
                                            <span>Amount of Visits per Month on {{ 'now' | date('Y') }}</span>
                                        </div>
                                        <div class="align-self-center">
                                            
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xl-6 col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body cleartfix">
                                <div class="media align-items-stretch">
                                    <div class="align-self-center">
                                        <h4>Recent Sellers</h4>
                                    </div>
                                    <ul class="list-group">
                                        {% if sellers is not empty %}
                                            {% for s in sellers %}
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    {{ s.email }}
                                                    <span class="badge bg-primary rounded-pill">{{ s.visits |length }} visits</span>
                                                </li>
                                            {% endfor %}
                                        {% else %}
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                None
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body cleartfix">
                                <div class="media align-items-stretch">
                                    <div class="align-self-center">
                                        <h4>Recent Clients</h4>
                                    </div>
                                    <ul class="list-group">
                                        {% if clients is not empty %}
                                            {% for c in clients %}
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    {{ c.codeUniq }}
                                                    <span class="badge bg-primary rounded-pill">{{ c.visits |length }} visits</span>
                                                </li>
                                            {% endfor %}
                                        {% else %}
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                None
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
