{% extends 'dashboard.html.twig' %}

{% block title %}Edit Client
{% endblock %}

{% block content %}
	<h1>Edit Client</h1>

	<div class="card">
		<div class="card-body">
			{{ form_start(form) }}
			<div class="row">
				<div class="col-3">
					{{ form_row(form.designation) }}
				</div>
				<div class="col-3">
					{{ form_row(form.codeUniq) }}
				</div>
				<div class="col-6">
					{% if client.visits is not empty %}
						{{ client.visits | length  }} time Visited
					{% else %}
						No Visit
					{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col-4">
					{{ form_row(form.email) }}
				</div>
			</div>

			{{ form_label(form.goals) }}
			{{ form_errors(form.goals) }}

			<table
				 class="goals"
				 data-prototype="{{ form_widget(form.goals.vars.prototype)|e('html_attr') }}"
				 data-index="{{ form.goals|length > 0 ? form.goals|last.vars.name + 1 : 0 }}">
				<tbody>
					{% for goalField in form.goals %}
						<tr class="goal_item">
							<td>
								{{ form_errors(goalField.nbVisits) }}
								{{ form_widget(goalField.nbVisits) }}
							</td>
							<td>
								{{ form_errors(goalField.period) }}
								{{ form_widget(goalField.period) }}
							</td>
						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<button type="button"
							class="add_item_link btn btn-success"
							data-collection-holder-class="goals"><i class="bi bi-plus-square"></i> Add Goal</button>
				</tfoot>
			</table>


			<div class="card-footer">
				<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
			</div>
			{{ form_end(form) }}
		</div>
	</div>

{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script>

	</script>
{% endblock %}