{% extends 'dashboard.html.twig' %}

{% block title %}Edit Seller
{% endblock %}

{% block content %}
    <h1>Edit Seller</h1>

    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col">
                        {{ form_row(form.fullName, {'attr': {'placeholder': 'Jeon Doe'}}) }}
                        {{ form_row(form.cin) }}
                        {{ form_row(form.phone) }}
                    </div>
                    <div class="col">
                        {{ form_row(form.email) }}
                        {{ form_row(form.password) }}
                        {{ form_row(form.isActive) }}
                    </div>
                </div>
            <div class="card-footer">
                <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>

    </script>
{% endblock %}