{% extends 'dashboard.html.twig' %}

{% block title %}Sales' visits
{% endblock %}

{% block content %}

{% include "top-bar.html.twig" with {'title':'Visits','btn':''} %}
<div class="card">

    <div class="card-body">
    <table id="example" class="table">
	<thead>
		<tr>
			<th>Commercial</th>
			<th>Title</th>
			<th>Address</th>
			<th>Code client</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		{% for v in visits %}
		{% if v.active %} {% set checked = "checked" %} {% else %} {% set checked = "" %} {% endif %}
		
			<tr>
				<td>{{ v.user.email }}</td>
				<td>{{ v.title }}</td>
				<td>
				{% if v.address is null %}
					None
				{% else %}
					{{ v.address.city }}
				{% endif %}
				</td>
				<td><a href="{{ path('client_edit', {'id': v.client.id}) }}">{{ v.client }}</a></td>
				<td>
					<div class="form-check form-switch">
						<input value="{{ v.id }}" class="form-check-input visitActive" {{ checked }} type="checkbox" id="{{ v.id }}">
					</div>
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="5">no records found</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
    </div>
</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script>
	
	</script>
{% endblock %}

