{% extends 'dashboard.html.twig' %}

{% block title %}Sales' visits
{% endblock %}

{% block content %}

{% include "top-bar.html.twig" with {'title':  seller.email ~ " Visits",'btn':''} %}
	<a style="float: right; color: #1b9448;" href="{{ path('user_edit', {'id': seller.id }) }}"><i  class="fs-2 bi bi-eye"></i>Show seller</a>

{% set statistics = {'totalVisits': visits | length,
	                 'nbClients': clients | length,
	                 'nbNewVisits': nbNewVisits,
	                 'comingUpVisits' : comingUpVisits,
	                 'sellerDoneVisits' : sellerDoneVisits,
} %}
{% include "statistics.html.twig" with statistics %} <br>
<div class="card">

    <div class="card-body">
		<div class="row">
			<div class="col-4">
				{{ render_chart(chart) }}
			</div>
			<div class="col-4">
				The client's goal by:
				<div class="btn-group me-2" role="group" aria-label="Second group">
					<button type="button" class="btn-sm btn btn-primary">Day</button>
					<button type="button" class="btn-sm btn btn-info">Week</button>
					<button type="button" class="btn-sm btn btn-warning">Month</button>
					<button type="button" class="btn-sm btn btn-success">Year</button>
				</div>
				{% if clients is not empty %}
					{% for client in clients %}
						<li style="margin: 5px; color: darkgrey !important;">
							<a href="{{ path('client_edit', {'id': client.id }) }}"> {{ client.codeUniq }}</a>
							<div class="progress">
								{% if client.goals is not empty %}
									{% for goal in client.goals %}
										{% if goal.period == 1 %}
											{% set color = 'bg-primary' %}
										{% elseif goal.period == 2  %}
											{% set color = 'bg-info' %}
										{% elseif goal.period == 3  %}
											{% set color = 'bg-warning' %}
										{% elseif goal.period == 4  %}
											{% set color = 'bg-success' %}
										{% endif %}
										<div class="progress-bar {{ color }}" role="progressbar" style="width: {{ goal.nbVisits }}%" aria-valuenow="{{ goal.nbVisits }}" aria-valuemin="0" aria-valuemax="{{ goal.nbVisits }}">{{ goal.nbVisits }}</div>
									{% endfor %}
								{% endif %}
							</div>
						</li>
					{% endfor %}
					<a style="float: right" href="{{ path('all_clients') }}">See more +</a>
				{% else %}
					Any client has been visited yet
				{% endif %}

			</div>
		</div>
    <table id="example" class="table">
	<thead>
		<tr>

			<th>Title</th>
			<th>Address</th>
			<th>Code client</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		{% for v in visits %}
		{% if v.active %} {% set checked = "checked" %} {% else %} {% set checked = "" %} {% endif %}
		
			<tr>

				<td>{{ v.title }}</td>
				<td>
				{% if v.address is null %}
					None
				{% else %}
					{{ v.address.city }} {{ v.address.street }} - {{ v.address.zip }}
				{% endif %}
				</td>
				<td><a href="{{ path('client_edit', {'id': v.client.id}) }}">{{ v.client }}</a></td>
				<td>
					<div class="form-check form-switch">
						<input value="{{ v.id }}" class="form-check-input visitActive" {{ checked }} type="checkbox" id="{{ v.id }}">
					</div>
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="5">no records found</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
    </div>
</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script>
	
	</script>
{% endblock %}

