{% extends 'dashboard.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block content %}
    {% set today =  'now' | date('d/m/Y')  %}

    <div class="grey-bg container-fluid" xmlns="http://www.w3.org/1999/html">
        <section id="minimal-statistics">
            <div class="row">
                <div class="col-lg-10 mt-3 mb-1">
                    <h4 class="text-uppercase">Minimal Statistics</h4>
                    <p></p>
                </div>
                <div class="col-sm-2 mt-3 " style="text-align: right">
                    {% set minYear = "now" |date_modify('-4 year') | date('Y')%}
                    <select class="form-control" name="years" id="yearFilter">
                        <option value="0">Year</option>
                        {% for year in (minYear+1).."now"|date("Y") %}
                            {% if year ==  "now"|date('Y')  %}
                                <option value="{{ year }}" selected>{{ year }}</option>
                                {% set theYear = lastWeekOfYear(year) %}
                            {% else %}
                                <option value="{{ year }}">{{ year }}</option>
                                {% set theYear = lastWeekOfYear(year) %}
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row">
               {% for i in 1..4 %}
                   <div class="col-xl-3 col-sm-6 col-12">
                       <div class="card" id="cardT{{ i }}">
                           <div class="card-content">
                               <div class="card-body">
                                   <div style="text-align: right">
                                       <div class="media-body">
                                           <h3 class="primary">T{{ i }}</h3>
                                       </div>
                                   </div>
                                   <small class="text-muted">Objectif de visits</small> <span id="TTQ{{ i }}"></span><br>
                                   <small class="text-muted">Total visits</small> <span id="STQ{{ i }}"></span>
                                   <div class="progress mt-1 mb-0" style="height: 17px;">
                                       <div id="PQ{{ i }}" class="progress-bar bg-progress" role="progressbar"></div>
                                   </div>
                                   <small class="text-muted">Non visited clients </small> <span id="CNVQ{{ i }}"></span><br>
                                   <small class="text-muted">Your clients </small> <span id="TC{{ i }}"></span>
                                   <div class="progress mt-1 mb-0" style="height: 17px;">
                                       <div id="PC{{ i }}" class="progress-bar bg-progress" role="progressbar"></div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               {% endfor %}
            </div>
        </section>

        <section id="stats-subtitle">
            <div class="row">
                <div class="col-12 mt-3 mb-1">
                    <h4 class="text-uppercase">General Statistics</h4>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-md-6">
                    <div class="card overflow-hidden">
                        <div class="card-header">
                           <div class="col-lg-9"></div>
                           
                            <div class="col">
                                <h4><span class="badge bg-info text-dark" id="selectedYear"></span></h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="container-CA" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xl-6 col-md-12">
                    <div class="card overflow-hidden">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-7">
                                    <h4>Visits</h4>
                                    <span class="ms-2 text-muted">Total: </span> <strong class="fw-bolder fs-3" id="totalVisitWeekly"></strong><br>
                                    <span class="ms-2 text-muted">Total Objectif: </span> <strong class="fw-bolder fs-3" id="totalTarget"></strong>
                                    <div class="progress mt-1 mb-0" style="height: 13px;">
                                        <div id="nbSellerVisits" class="progress-bar bg-progress" role="progressbar"></div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="row">
                                        <div class="col">
                                            <select class="form-control" id="weekSelect">
                                                <option value="0">Choose Week</option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <h4><span class="badge bg-info text-dark" id="selectedYear"></span></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body cleartfix">
                                <div class="media align-items-stretch">
                                    <div class="align-self-center">
                                        <i class="icon-pencil primary font-large-2 mr-2"></i>
                                    </div>
                                    {% if is_granted('ROLE_USER') %}
                                        <div class="media-body">

                                        </div>
                                        <div id="container-2" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-7">
                                    <h4>Visits</h4>
                                    <span class="ms-2 text-muted">Total: </span> <strong class="fw-bolder fs-3" id="totalVisitMonth"></strong><br>
                                    <span class="ms-2 text-muted">Total Objectif: </span> <strong class="fw-bolder fs-3" id="totalMonthTarget"></strong>
                                    <div class="progress mt-1 mb-0" style="height: 13px;">
                                        <div id="nbSellerMonthVisits" class="progress-bar bg-progress" role="progressbar"></div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="row">
                                        <div class="col">
                                            <select class="form-control" id="monthSelect">
                                                <option value="0">Choose Month</option>
                                                {% for m in months() %}
                                                    <option value="{{ loop.index }}">{{ m }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col">
                                            <h4><span class="badge bg-info text-dark" id="selectedMYear"></span></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body cleartfix">
                                <div class="media align-items-stretch">
                                    <div class="align-self-center">
                                        <i class="icon-speech warning font-large-2 mr-2"></i>
                                    </div>
                                    {% if is_granted('ROLE_USER') %}
                                        <div class="media-body">
                                        </div>
                                        <div id="container-3" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('highcharts') }}
    <script>

    </script>
{% endblock %}
