{% extends 'dashboard.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block content %}
    {% set today =  'now' | date('d/m/Y')  %}

    <div class="grey-bg container-fluid">
        <section id="minimal-statistics">
            <div class="row">
                <div class="col-lg-10 mt-3 mb-1">
                    <h4 class="text-uppercase">Minimal Statistics</h4>
                    <p></p>
                </div>
                <div class="col-sm-2 mt-3 " style="text-align: right">
                    {% set minYear = "now" |date_modify('-4 year') | date('Y')%}
                    <select class="form-control" name="years" id="yearFilter">
                        <option value="0">Year</option>
                        {% for year in (minYear+1).."now"|date("Y") %}
                            {% if year ==  "now"|date('Y')  %}
                                <option value="{{ year }}" selected>{{ year }}</option>
                                {% set theYear = lastWeekOfYear(year) %}
                            {% else %}
                                <option value="{{ year }}">{{ year }}</option>
                                {% set theYear = lastWeekOfYear(year) %}
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div style="text-align: right">
                                    <div class="media-body">
                                        <h3 class="primary">T1</h3>
                                    </div>
                                </div>
                                Objectif de visits
                                <div class="progress mt-1 mb-0" style="height: 7px;">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 10%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="300"></div>
                                </div>
                                Nb clients non visités
                                <div class="progress mt-1 mb-0" style="height: 7px;">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: {{ nbVisits }}%" aria-valuenow="{{ nbVisits }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div style="text-align: right">
                                    <div class="media-body">
                                        <h3 class="primary">T2</h3>
                                    </div>
                                </div>
                                Objectif de visits
                                <div class="progress mt-1 mb-0" style="height: 7px;">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: {{ nbVisits }}%" aria-valuenow="{{ nbVisits }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                Nb clients non visités
                                <div class="progress mt-1 mb-0" style="height: 7px;">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: {{ nbVisits }}%" aria-valuenow="{{ nbVisits }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div style="text-align: right">
                                    <div class="media-body">
                                        <h3 class="primary">T3</h3>
                                    </div>
                                </div>
                                Objectif de visits
                                <div class="progress mt-1 mb-0" style="height: 7px;">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: {{ nbVisits }}%" aria-valuenow="{{ nbVisits }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                Nb clients non visités
                                <div class="progress mt-1 mb-0" style="height: 7px;">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: {{ nbVisits }}%" aria-valuenow="{{ nbVisits }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body">
                                <div style="text-align: right">
                                    <div class="media-body">
                                        <h3 class="primary">T4</h3>
                                    </div>
                                </div>
                                Objectif de visits
                                <div class="progress mt-1 mb-0" style="height: 7px;">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: {{ nbVisits }}%" aria-valuenow="{{ nbVisits }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                Nb clients non visités
                                <div class="progress mt-1 mb-0" style="height: 7px;">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: {{ nbVisits }}%" aria-valuenow="{{ nbVisits }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="stats-subtitle">
            <div class="row">
                <div class="col-12 mt-3 mb-1">
                    <h4 class="text-uppercase">General Statistics</h4>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-md-12">
                    <div class="card overflow-hidden">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-7">
                                    <h4>Visits</h4>
                                    <span class="ms-2 text-muted">Total: </span> <strong class="fw-bolder fs-3" id="totalVisitWeekly"></strong><br>
                                    <span class="ms-2 text-muted">Total Objectif: </span> <strong class="fw-bolder fs-3" id="totalTarget"></strong>
                                    <div class="progress mt-1 mb-0" style="height: 13px;">
                                        <div id="nbSellerVisits" class="progress-bar bg-primary" role="progressbar"></div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="row">
                                        <div class="col">
                                            <select class="form-control" id="weekSelect">
                                                <option value="0">Choose Week</option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <h4><span class="badge bg-info text-dark selectedYear"></span></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body cleartfix">
                                <div class="media align-items-stretch">
                                    <div class="align-self-center">
                                        <i class="icon-pencil primary font-large-2 mr-2"></i>
                                    </div>
                                    {% if is_granted('ROLE_USER') %}
                                        <div class="media-body">

                                        </div>
                                        <div id="container-2" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-7">
                                    <h4>Visits</h4>
                                    <span class="ms-2 text-muted">Total: </span> <strong class="fw-bolder fs-3" id="totalVisitMonth"></strong><br>
                                    <span class="ms-2 text-muted">Total Objectif: </span> <strong class="fw-bolder fs-3" id="totalMonthTarget"></strong>
                                    <div class="progress mt-1 mb-0" style="height: 13px;">
                                        <div id="nbSellerMonthVisits" class="progress-bar bg-primary" role="progressbar"></div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="row">
                                        <div class="col">
                                            <select class="form-control" id="monthSelect">
                                                <option value="0">Choose Month</option>
                                                <option value="01">January</option>
                                                <option value="02">February</option>
                                                <option value="03">March</option>
                                                <option value="04">April</option>
                                                <option value="05">May</option>
                                                <option value="06">June</option>
                                                <option value="07">July</option>
                                                <option value="08">August</option>
                                                <option value="09">September</option>
                                                <option value="10">October</option>
                                                <option value="11">November</option>
                                                <option value="12">December</option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <h4><span class="badge bg-info text-dark selectedYear"></span></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body cleartfix">
                                <div class="media align-items-stretch">
                                    <div class="align-self-center">
                                        <i class="icon-speech warning font-large-2 mr-2"></i>
                                    </div>
                                    {% if is_granted('ROLE_USER') %}
                                        <div class="media-body">
                                        </div>
                                        <div id="container-3" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xl-6 col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body cleartfix">
                                <div class="media align-items-stretch">
                                    <div class="align-self-center">
                                        <h4>Recent Visits</h4>
                                    </div>
                                    <ul class="list-group">
                                        {% if visits is not empty %}
                                            {% for v in visits %}
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    {{ v.title }}
                                                    <span class="badge bg-info rounded-pill">{{ v.startTime |date('g:i a') }} </span>
                                                </li>
                                            {% endfor %}
                                        {% else %}
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                None
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-6 col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-body cleartfix">
                                <div class="media align-items-stretch">
                                    <div class="align-self-center">
                                        <h4>Recent Clients</h4>
                                    </div>
                                    <ul class="list-group">
                                        {% if clients is not empty %}
                                            {% for c in clients %}
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    {{ c.codeUniq }}
                                                    <span class="badge bg-primary rounded-pill">{{ c.visits |length }} visits</span>
                                                </li>
                                            {% endfor %}
                                        {% else %}
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                None
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('highcharts') }}
    <script>

    </script>
{% endblock %}
