<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
	<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
		<li class="margin-start" style="color: rgba(27,27,27,0.91); text-align: center; font-weight: bold">
			{% set image = '<img src="https://picsum.photos/100/100" alt="{{ app.user.fullName }}" width="100" height="100" class="img-fluid img-thumbnail rounded-circle">' %}
			{% if is_granted('ROLE_ADMIN') %}
				<a href="{{ path('profile', {'id': app.user.id }) }}"> {{ image|raw }}</a>
			{% else %}
				<a href="{{ path('profile_user', {'id': app.user.id }) }}">{{ image|raw }}</a>
			{% endif %}
			<ul style="list-style-type:none">
				<li>
				{% if app.user.fullName is null %}{{ app.user.email }}{% else %}{{ app.user.fullName }} {% endif %}
				</li>
				<li>
					<span class="badge bg-warning">{{ nbClients() }}</span> clients
				</li>
			</ul>
		</li>
		{% for item in menu %}
			
				<li>
					<a href="{{ item.path }}" class="{{ route == item.route ? 'current' }} nav-link px-0 align-middle">
						<i class="{{ item.icon }}"></i>
						<span class="ms-1 d-none d-sm-inline">{{ item.text|raw }}</span>
					</a>
				</li>
		{% endfor %}
	</ul>

</div>
