<section id="minimal-statistics">
    <div class="row">
        <div class="col-12 mt-3 mb-1">
            <h4 class="text-uppercase">Minimal Statistics</h4>
            <p></p>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media d-flex">
                            <div class="media-body text-left">
                                <h3 class="primary">{{ nbNewVisits }} </h3>
                                <span>Daily new Visits </span>
                            </div>
                            <div class="align-self-center">
                                <i class="fs-1 bi bi-calendar-event"></i>
                            </div>
                        </div>
                        <div class="progress mt-1 mb-0" style="height: 7px;">
                             <div class="progress-bar bg-primary" role="progressbar" style="width: {{ nbNewVisits }}%" aria-valuenow="{{ nbNewVisits }}" aria-valuemin="0" aria-valuemax="1000"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media d-flex">
                            <div class="media-body text-left">
                                <h3 class="warning">{{ statistics.sellerDoneVisits }}</h3>
                                <span>Done Visits</span>
                            </div>
                            <div class="align-self-center">
                                <i style="color: #1b9448" class="fs-1 bi bi-check-lg font-large-2 float-right"></i>
                            </div>
                        </div>
                        <div class="progress mt-1 mb-0" style="height: 7px;">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: {{ statistics.sellerDoneVisits }}%" aria-valuenow="{{ statistics.sellerDoneVisits }}" aria-valuemin="0" aria-valuemax="1000"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media d-flex">
                            <div class="media-body text-left">
                                <h3 class="success">{{ comingUpVisits }}</h3>
                                <span>Coming up visits</span>
                            </div>
                            <div class="align-self-center">
                                <i style="color:red; float: right;" class="bi bi-clock-history fs-1 font-large-2 float-right"></i>
                            </div>
                        </div>
                        <div class="progress mt-1 mb-0" style="height: 7px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: {{ comingUpVisits }}%" aria-valuenow="{{ comingUpVisits }}" aria-valuemin="0" aria-valuemax="1000"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 col-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body">
                        <div class="media d-flex">
                            <div class="media-body text-left">
                                <h3 class="danger">{{ statistics.totalVisits }}</h3>
                                <span>Total Visits</span>
                            </div>
                            <div class="align-self-center">
                                <i class="fs-1 bi bi-clipboard-data"></i>
                            </div>
                        </div>
                        <div class="progress mt-1 mb-0" style="height: 7px;">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: {{ statistics.totalVisits }}%" aria-valuenow="{{ statistics.totalVisits }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
