{% extends 'dashboard.html.twig' %}

{% block title %}Commercial list
{% endblock %}

{% block content %}
<div {{ stimulus_controller('reload-content', { url: path('user_index', { ajax: 1 }) }) }}
			data-action="modal-form:success->reload-content#refreshContent">
<div {{ stimulus_controller('modal-form', {formUrl: path('user_new') }) }} 
		data-action="hidden.bs.modal->modal-form#modalHidden">
	{% include "top-bar.html.twig" with {'title':'Commertials','btn':'<!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-action="modal-form#openModal">
        Add new commercial
      </button>'} %}
	
		{{ include('_modal.html.twig', { modalTitle: 'Add a new User',  }) }}
	</div>
	<div class="card">
		<div class="card-body" data-reload-content-target="content">
			{{ include('user/_list.html.twig') }}
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}
